{% extends "base.html" %}
{% load static %}

{% block content %}
 <div class="main-wrapper">
     <div class="page-wrapper">
        <div class="content content-two create-project">
            <div class="container mt-4">
                <h2>Add Item to PO: {{ po.po_number }}</h2><br>
            
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            
                <form method="POST">
                    {% csrf_token %}
            
                    <!-- Order Item -->
                    <div class="mb-3">
                        <label for="order_item" class="form-label">Description</label>
                        <textarea name="description" class="form-control" required></textarea>
                    </div>
                    
                    <!-- order no -->
                    <div class="mb-3">
                        <label for="workers" class="form-label">Item number:</label>
                        <input type="number" name="order_no" id="deadline" class="form-control" required>
                    </div>

                    <!-- quantity -->
                    <div class="mb-3">
                        <label for="workers" class="form-label">Quantity:</label>
                        <input type="number" name="quantity" id="deadline" class="form-control" required>
                    </div>
                    
                    <!-- size -->
                    <div class="mb-3">
                        <label for="workers" class="form-label">Size:</label>
                        <input type="text" name="size" id="deadline" class="form-control" required>
                    </div>
                    
                    <!-- color -->
                    <div class="mb-3">
                        <label for="workers" class="form-label">Color:</label>
                        <input type="text" name="color" id="deadline" class="form-control" required>
                    </div>

                    <!-- Deadline -->
                    <div class="mb-3">
                        <label for="deadline" class="form-label">Unit Price</label>
                        <input type="number" name="unit_price" id="deadline" step="0.01" class="form-control" required>
                    </div>
            
                    <!-- Submit -->
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'managementSystem:view_po' po.id %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
     </div>
 </div>


 <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}" type=""></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="ac3f8615a263811875ad4144-text/javascript"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'js/jquery.slimscroll.min.js' %}" type="ac3f8615a263811875ad4144-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}" type="ac3f8615a263811875ad4144-text/javascript"></script>

    <!-- Datetimepicker JS -->
    <script src="{% static 'js/moment.min.js' %}" type="ac3f8615a263811875ad4144-text/javascript"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="ac3f8615a263811875ad4144-text/javascript"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}" type="ac3f8615a263811875ad4144-text/javascript"></script>

    <script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min-2.js' %}" data-cf-settings="ac3f8615a263811875ad4144-|49" defer=""></script>


<script>
document.addEventListener("DOMContentLoaded", function () {
    const workersSelect = document.getElementById("workers");
    const groupTaskCheckbox = document.getElementById("is_group_task");

    $('#workers').on('change', function () {
        const selectedCount = $(this).val().length;
        if (selectedCount > 1) {
            groupTaskCheckbox.disabled = false;
        } else {
            groupTaskCheckbox.disabled = true;
            groupTaskCheckbox.checked = false;
        }
    });
});
</script>
{% endblock %}
