{% extends "base.html" %}
{% load static %}

{% block content %}
 <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h5 class="fw-bold">All Notifications</h5>
                        <span class="fs-14 text-gray-5">View your all activities</span>
                    </div>
                </div>

                {% for n in notifications %}
                <div class="card mb-3 border shadow-none">
                    <div class="px-3 py-3">
                            <div class="flex-fill ml-3">
                                <p class=" mb-0"><a href="#" class="fs-14 fw-semibold">{{ n.title }}</a> ,<br> <span>{{ n.message }}</span></p>
                                <span><i class="ti ti-clock me-1"></i>{{ n.created_at|date:"M d, H:i" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right">
                    <img src="{%static 'img/icons/notify-nodata.svg'%}" alt="img">
                    <p class="fw-medium">No New Nofitications</p>
                </div>
            {% endfor %}

            </div>
        </div>


    <script src="{% static 'js/jquery-3.7.1.min.js' %}" type="f411e38191ebe1443d3156c1-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="f411e38191ebe1443d3156c1-text/javascript"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'js/jquery.slimscroll.min.js' %}" type="f411e38191ebe1443d3156c1-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}" type="f411e38191ebe1443d3156c1-text/javascript"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}" type="f411e38191ebe1443d3156c1-text/javascript"></script>

<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min-2.js' %}" data-cf-settings="f411e38191ebe1443d3156c1-|49" defer=""></script>

{% endblock %}