{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main-wrapper">
        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content content-two">

                <!-- Breadcrumb -->
                <div class="mb-4 d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <div>
                        <h4 class="mb-1 fw-bold">Employees</h4>
                        <nav>
                            <ol class="breadcrumb breadcrumb-dot mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{%url 'dashboard'%}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Employees</li>
                            </ol>
                        </nav>
                    </div>
                    <div class=" d-flex align-items-center">
                        <a href="javascript:void(0);" class="btn btn-md btn-primary me-2" data-bs-toggle="modal" data-bs-target="#add_employees"><i class="ti ti-plus me-1"></i>Add New Employee</a>
                        {% comment %} <a href="javascript:void(0);" class="btn btn-md btn-dark" data-bs-toggle="modal" data-bs-target="#edit_employees"><i class="ti ti-send me-1"></i>Invite</a> {% endcomment %}
                    </div>
                </div>
                <!-- /Breadcrumb -->

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <img src="{% static 'img/icons/employees-1.svg' %}" alt="img">
                                        </div>
                                        <div>
                                            <span class="mb-1">Total Employees</span>
                                            <h2 class="d-flex align-items-center">{{total_workers}} <span class="text-success fs-12 ms-2"><i class="ti ti-users me-1"></i></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <img src="{% static 'img/icons/employees-2.svg' %}" alt="img">
                                        </div>
                                        <div>
                                            <span class="mb-1">Active Employees</span>
                                            <h2 class="d-flex align-items-center">{{active_workers}} <span class="text-success fs-12 ms-2"><i class="ti ti-trending-up me-1"></i></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <img src="{% static 'img/icons/employees-3.svg' %}" alt="img">
                                        </div>
                                        <div>
                                            <span class="mb-1">Inactive Employees</span>
                                            <h2 class="d-flex align-items-center">{{inactive_workers}} <span class="text-success fs-12 ms-2"><i class="ti ti-trending-up me-1"></i></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs tab-style-project d-inline-flex d-block" role="tablist">

                </ul>

                <!-- Search -->
                <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 table-header mb-3">
                    <div class="filters mb-3">
                        <input type="text" id="searchInput" placeholder="Search workers..." class="form-control" style="width:200px; display:inline-block;">
                    </div>
                </div>
                <!-- /Search -->

                <!-- Table List -->
                <div class="table-responsive">
                    <table class="table" id="workersTable">
                        <thead class="thead-light text-uppercase">
                            <tr>
                                <th class="no-sort">
                                    Photo
                                </th>
                                <th class="no-sort">Name</th>
                                <th class="no-sort">Contact</th>
                                <th class="no-sort">Email</th>
                                <th class="no-sort">Role </th>
                                <th class="no-sort">Date Joined</th>
                                <th class="no-sort">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="">
                            {% for worker in workers %}
                            <tr>
                                <td>
                                    {% if worker.photo %}
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-rounded">
                                                <img src="{{ worker.photo.url }}" class="img-fluid" alt="img">
                                            </a>
                                        </div>
                                    {% else %}
                                        No Photo
                                    {% endif %}
                                </td>
                                <td>{{ worker.name }}</td>
                                <td>{{ worker.phone }}</td>
                                <td>{{ worker.email }}</td>
                                <td>{{ worker.role }}</td>
                                <td>{{ worker.registered_on|date:"Y-m-d" }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning edit-btn" data-id="{{ worker.id }}">Edit</button>
                                    <button class="btn btn-danger btn-sm delete-btn" data-id="{{ worker.id }}">Delete</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No workers yet</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <nav aria-label="Worker pagination" class="pagination-container">
                            <ul class="pagination">
                                {% if workers.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link btn btn-outline-primary" href="?page={{ workers.previous_page_number }}">
                                            &laquo; Previous
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link btn btn-outline-secondary disabled">&laquo; Previous</span>
                                    </li>
                                {% endif %}

                                {% for num in workers.paginator.page_range %}
                                    {% if workers.number == num %}
                                        <li class="page-item active">
                                            <span class="page-link btn btn-primary">{{ num }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if workers.has_next %}
                                    <li class="page-item">
                                        <a class="page-link btn btn-outline-primary" href="?page={{ workers.next_page_number }}">
                                            Next &raquo;
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link btn btn-outline-secondary disabled">Next &raquo;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Table List -->

            </div>
        </div>

        <!-- Add Employee  -->
        <div class="modal fade" id="add_employees">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Employee</h5>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
					</div>
                    <form method="POST" enctype="multipart/form-data" id="workerForm">
                        {% csrf_token %}
                        <input type="hidden" id="worker_id" name="worker_id">
                         <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center flex-wrap row-gap-3 w-100 rounded mb-4">
                                        <div class="avatar avatar-xxl lh-normal fs-14 rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames flex-column">
                                            <i class="ti ti-upload text-gray-2 fs-16"></i>
                                        </div>
                                        <div class="profile-upload">
                                            <div class="mb-2">
                                                <div class="drag-upload-btn btn btn-sm btn-dark me-2 mb-2">
                                                    Upload
                                                    <input type="file" class="form-control image-sign" name="photo">
                                                </div>
                                                {% comment %} <p>Recommended size is 300px x 300px</p> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Employee Name<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" name="name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Gender<span class="text-danger ms-1">*</span></label>
                                        <select class="select" name="gender" required>
                                            <option>Select</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Contact<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="form-label">Email<span class="text-danger ms-1">*</span></label>
                                        <input type="email" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="form-label">Position<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" name="role" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="form-label">Address<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" name="address" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white btn-md me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-md">Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit Employee  -->
        <div class="modal fade" id="edit_employees">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Employee</h5>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
					</div>
                    <form Method="POST">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center flex-wrap row-gap-3 w-100 rounded mb-4">
                                        <div class="avatar avatar-xxl lh-normal fs-14 rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames flex-column">
                                            <img src="{{ worker.photo.url }}" class="rounded-circle" alt="user-img">
                                        </div>
                                        <div class="profile-upload">
                                            <div class="mb-2">
                                                <div class="drag-upload-btn btn btn-sm btn-dark me-2 mb-2">
                                                    Upload
                                                    <input type="file" class="form-control image-sign" >
                                                </div>
                                                {% comment %} <p>Recommended size is 300px x 300px</p> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Employee Name<span class="text-danger ms-1">*</span></label>
                                        <input type="text" id="edit-name" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Gender<span class="text-danger ms-1">*</span></label>
                                        <select id="edit-gender" class="select" >
                                            <option>Select</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Contact<span class="text-danger ms-1">*</span></label>
                                        <input type="text" id="edit-contact" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="form-label">Email<span class="text-danger ms-1">*</span></label>
                                        <input type="email" id="edit-email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="form-label">Position<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" id="edit-position">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <label class="form-label">Address<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" id="edit-address">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white btn-md me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-md">Update Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Theme Script js -->
    <script src="{% static 'js/theme-script.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'js/jquery.slimscroll.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- Datatable JS -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="{% static 'js/moment.min.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}" type="85548e56bad66eee12a166ed-text/javascript"></script>

    <script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min-2.js' %}" data-cf-settings="85548e56bad66eee12a166ed-|49" defer=""></script>

    

      <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('#workerForm');

            if (!form.dataset.listenerAdded) {
                form.dataset.listenerAdded = "true"; // ✅ prevent duplicate
                form.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    // ... fetch code
                    const formData = new FormData(form);

                    const response = await fetch("{% url 'workers:worker_list' %}", {
                        method: 'POST',
                        headers: { 'X-Requested-With': 'XMLHttpRequest' },
                        body: formData
                    });

                    const data = await response.json();
                    if (data.success) {
                        alert(data.message);
                        form.reset();
                        document.getElementById('worker_id').value = ""; // reset edit mode
                        document.getElementById('add_employees').style.display = 'none';
                        location.reload(); // reload to refresh table
                    } else {
                        alert(data.message);
                    }
                });
            }

            // Handle Edit button click
            document.querySelectorAll('.edit-btn').forEach(button => {
                button.addEventListener('click', async function () {
                    $('#add_employees').modal('show');
                    const workerId = this.dataset.id;

                    const res = await fetch("{% url 'workers:get_worker' 0 %}".replace('0', workerId));
                    const worker = await res.json();

                    // Fill form fields
                    document.getElementById('worker_id').value = worker.id;
                    document.querySelector('input[name="name"]').value = worker.name;
                    document.querySelector('input[name="phone"]').value = worker.phone;
                    document.querySelector('input[name="email"]').value = worker.email;
                    document.querySelector('select[name="gender"]').value = worker.gender;
                    document.querySelector('input[name="role"]').value = worker.role;
                    document.querySelector('input[name="address"]').value = worker.address;                    
                });
            });
        });
      </script>
      
      <script>
        document.addEventListener('DOMContentLoaded', function () {
                const searchInput = document.getElementById('searchInput');
                const tableBody = document.querySelector('#workersTable tbody');

                searchInput.addEventListener('keyup', function() {
                    let query = searchInput.value.trim();

                    fetch("{% url 'workers:worker_search' %}?q=" + encodeURIComponent(query))
                        .then(response => response.json())
                        .then(data => {
                            tableBody.innerHTML = '';

                            data.results.forEach(worker => {
                                let row = `
                                     <tr>
                                        <td>${worker.photo_url ? `<img src="${worker.photo_url}" width="50">` : 'No Photo'}</td>
                                        <td>${worker.name}</td>
                                        <td>${worker.phone || ''}</td>
                                        <td>${worker.email || ''}</td>
                                        <td>${worker.role || ''}</td>
                                        <td>${worker.registered_on || ''}</td>
                                    </tr>
                                `;
                                tableBody.innerHTML += row;
                            });
                        })
                        .catch(err => console.error('Search error:', err));
                });
            });

            // CSRF helper
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let cookie of cookies) {
                        cookie = cookie.trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // Event delegation for delete
            document.addEventListener('click', async function (e) {
                if (e.target.classList.contains('delete-btn')) {
                    e.preventDefault();

                    const workerId = e.target.dataset.id;
                    if (!confirm("Are you sure you want to delete this worker?")) return;

                    const res = await fetch(`/workers/delete/${workerId}/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken"),
                        }
                    });

                    const data = await res.json();
                    if (data.success) {
                        alert(data.message);
                        e.target.closest('tr').remove();
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
      </script>

      
  
{% endblock %} 


