{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main-wrapper">
        <div class="page-wrapper">

            <div class="content">

                <!-- head -->
                <div class="mb-4 d-flex align-items-center flex-wrap gap-2 justify-content-between dashboard-title">
                    <div>
                        <h4 class="fw-bold">Admin Dashboard</h4>
                    </div>
                </div>
                <!-- head -->

                <!-- time info -->
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="time-icon bg-soft-primary flex-shrink-0">
										<i class="ti ti-clock-share fs-22"></i>
									</span>
                                    <span class="badge bg-success-transparent fs-14">Overall Orders</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-1">Total Orders</p>
                                        <h2>{{total_orders}}</h2>
                                    </div>
                                    <div id="time-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="time-icon bg-soft-secondary flex-shrink-0">
										<i class="ti ti-clock-share fs-22"></i>
									</span>
                                    <span class="badge bg-danger-transparent fs-14">{{completed_percent}}%</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-1">Completed Orders</p>
                                        <h2>{{completed_orders}}</h2>
                                    </div>
                                    <div id="productivetime-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="time-icon bg-violet-100 flex-shrink-0">
										<i class="ti ti-clock-x fs-22 text-violet"></i>
									</span>
                                    <span class="badge bg-success-transparent fs-14">{{ pending_percent }}%</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-1">Pending Orders</p>
                                        <h2>{{pending_orders}}</h2>
                                    </div>
                                    <div id="unproductivetime-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 d-flex">
                        <div class="card flex-fill shadow-none">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="time-icon bg-teal-100 flex-shrink-0">
										<i class="ti ti-clock-x fs-22 text-teal-9"></i>
									</span>
                                    <span class="badge bg-success-transparent fs-14">income</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-1">Total Revenue</p>
                                        <h2>GH₵{{total_revenue}}.00</h2>
                                    </div>
                                    <div id="manualtime-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- time info -->
                <!-- top employees -->
                <div class="card shadow-none top-employees">
                    <div class="card-body pb-0">
                        <div class="d-flex flex-wrap gap-2 justify-content-between mb-3">
                            <h5 class="fw-bold">Top Employees</h5>
                            <a href="{% url 'workers:worker_list' %}" class="fs-13 text-decoration-underline">View All Timesheet</a>
                        </div>
                        <div class="row">
                            {% for worker in top_workers %}
                            <div class="col-xl-2 col-md-4 col-sm-6">
                                <div class="card shadow-none">
                                    <div class="card-body text-center p-4">
                                        <a href="{% url 'workers:worker_profile' worker.id %}" class="avatar mb-2">
                                            {% if worker.photo %}
                                            <img src="{{ worker.photo.url }}" class="img-fluid rounded-circle" alt="img">
                                            {% else %}
                                            <img src="{% static 'img/user.png' %}" class="img-fluid rounded-circle" alt="img">
                                            {% endif %}
                                        </a>
                                        <h6 class="fw-medium"><a href="{% url 'workers:worker_profile' worker.id %}">{{worker.name}}</a></h6>
                                        <span class="fs-13">Task Count: {{worker.task_count}}</span>
                                        <div class="progress bg-transparent-dark mt-2 p-1" style="height: 24px;" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="Total task : {{worker.task_count}}">
                                            <div class="progress-bar bg-success rounded me-1" role="progressbar" style="width: {{worker.task_count}}0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <div class="col-xl-2 col-md-4 col-sm-6">
                                    <p>No workers found</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- top employees -->
                <div class="row">
                    <!-- top teams -->
                    <div class="col-lg-4 col-md-6 d-flex">
                        <div class="card shadow-none flex-fill w-100">
                            <div class="card-body">
                                <div class="d-flex flex-wrap gap-2 justify-content-between mb-3">
                                    <h5 class="fw-bold">Top Clients</h5>
                                    <a href="{% url 'managementSystem:register_client' %}" class="fs-13 text-decoration-underline">View All</a>
                                </div>
                                {% for client in top_clients %}
                                <div class="d-flex align-items-center gap-2 justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <a href="{% url 'managementSystem:register_client' %}" class="avatar bg-white-500 avatar-rounded">
                                            <span class="avatar-title text-white"><img src="{% static 'img/user.png' %}" class="img-fluid" alt="img"></span>
                                        </a>
                                        <div class="ms-2">
                                            <h6 class="fw-medium mb-1"><a href="{% url 'managementSystem:register_client' %}">{{ client.client__name }}</a></h6>
                                            <span class="fs-13">{{client.client__address}}</span>
                                        </div>
                                    </div>
                                    <span class="text-gray-9 fw-medium d-inline-flex align-items-center"><i class="ti ti-clock me-1"></i>Total Orders: {{client.order_count}} </span>
                                </div>
                                {% empty %}
                                <div class="d-flex align-items-center gap-2 justify-content-between mb-3">
                                    <p>No Client found</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- top teams -->
                    <!-- task details -->
                    <div class="col-lg-8 col-md-6 d-flex">
                        <div class="card shadow-none flex-fill w-100">
                            <div class="card-body">
                                <div class="d-flex flex-wrap gap-2 justify-content-between mb-3">
                                    <h5 class="fw-bold">Order Details</h5>
                                    <a href="{% url 'managementSystem:orders' %}" class="fs-13 text-decoration-underline">View All</a>
                                </div>
                                <div class="chartjs-wrapper-demo position-relative mb-4">
                                    <canvas id="tasks" data-inprogress="{{ in_progress_orders|default:0 }}"
                                        data-pending="{{ pending_orders|default:0 }}"
                                        data-completed="{{ completed_orders|default:0 }}" height="150">
                                    </canvas>
                                    <div class="position-absolute text-center task-canvas">
                                        <p class="fs-13 mb-1">Total Orders</p>
                                        <h2>{{total_orders}}</h2>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3 me-2">
                                        <p class="fs-13 d-inline-flex align-items-center mb-1">In progress</p>
                                        <h5>{{inprogress_percent}}%</h5>
                                    </div>
                                    <div class="border-start me-2 ps-3 mb-3">
                                        <p class="fs-13 d-inline-flex align-items-center mb-1">Pending</p>
                                        <h5>{{ pending_percent }}%</h5>
                                    </div>
                                    <div class="border-start me-2 ps-3 mb-3">
                                        <p class="fs-13 d-inline-flex align-items-center mb-1">Completed</p>
                                        <h5>{{ completed_percent }}%</h5>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center flex-wrap bg-gray-900 px-3 py-2 rounded-2 gap-2 justify-content-between">
                                    <span class="text-light fs-13"> Overall completed orders</span>
                                    <h5 class="text-light"> {{ completed_orders }} : {{ completed_percent }}%</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




  <!-- Theme Script js -->
  <script src=" {% static 'js/theme-script.js' %}" type="03792526b82437652987e94a-text/javascript"></script>
  
  <!-- jQuery -->
  <script src=" {% static 'js/jquery-3.7.1.min.js' %}" type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Bootstrap Core JS -->
  <script src=" {% static 'js/bootstrap.bundle.min.js' %} " type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Slimscroll JS -->
  <script src="{% static 'js/jquery.slimscroll.min.js' %}" type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Datatable JS -->
  <script src="{% static 'js/jquery.dataTables.min.js' type='85548e56bad66eee12a166ed-text/javascript' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap5.min.js' type='85548e56bad66eee12a166ed-text/javascript' %}"></script>

  <!-- Select2 JS -->
  <script src="{% static 'plugins/select2/js/select2.min.js' %}" type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Daterangepikcer JS -->
  <script src="{% static 'js/moment.min.js' %}" type="03792526b82437652987e94a-text/javascript"></script>
  <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}" type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Chart JS -->
  <script src="{% static 'plugins/chartjs/chart.min.js' %}" type="03792526b82437652987e94a-text/javascript"></script>
  <script src="{% static 'plugins/chartjs/chart-data.js' %}" type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Chart JS -->
  <script src="{% static 'plugins/apexchart/apexcharts.min.js' %}" type="03792526b82437652987e94a-text/javascript"></script>
  <script src="{% static 'plugins/apexchart/chart-data.js' %}" type="03792526b82437652987e94a-text/javascript"></script>

  <!-- Custom JS -->
  <script src="{% static 'js/script.js' %}" type="03792526b82437652987e94a-text/javascript"></script>


  <script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min-2.js' %}" data-cf-settings="03792526b82437652987e94a-|49" defer=""></script>

{% endblock %} 


