<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clockfie is a powerful time tracking admin dashboard template designed for businesses, freelancers, and teams. Track work hours, manage productivity, and streamline payroll with ease using this feature rich and user-friendly template.">
    <meta name="keywords" content="time tracking, time management, productivity tracking, employee time tracker, work hours management, Clockfie, time tracking dashboard, admin template, project tracking, payroll management">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href=" {% static 'img/nlogo.png'%} ">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" href=" {% static 'img/apple-icon.png'%}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} ">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href=" {% static 'plugins/daterangepicker/daterangepicker.css'%}">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="{% static 'plugins/tabler-icons/tabler-icons.min.css'%} ">


    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css'%} ">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=" {% static 'plugins/fontawesome/css/fontawesome.min.css'%} ">
    <link rel="stylesheet" href=" {% static 'plugins/fontawesome/css/all.min.css'%} ">

      <link rel="stylesheet" href="{% static 'plugins/intltelinput/css/intlTelInput.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/nlogof.png' %}">

    <title>NewLeaf</title>
</head>
    {% block header %}
        <div class="main-wrapper">  
            <div class="header">
                <div class="main-header">

                    <div class="header-left">
                        <a href="{% url 'dashboard' %}" class="logo">
                            <img src=" {% static 'img/nlogo.png' %} " alt="Logo">
                        </a>
                        <a href="{% url 'dashboard' %}" class="dark-logo">
                            <img src=" {% static 'img/nlogo.png' %} " alt="Logo">
                        </a>
                    </div>

                    <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                        <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>

                    <div class="header-user">
                        <div class="nav user-menu nav-list">
                            <div class="me-auto d-flex align-items-center" id="header-search">
                                <a id="toggle_btn" href="javascript:void(0);">
                                    <i class="ti ti-chevron-left"></i>
                                </a>
                                <div class="dropdown add-dropdown me-3">
                                    <a href="#" class="btn btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                        <i class="ti ti-plus me-1"></i>Add New
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-start p-2">
                                        <li><a class="dropdown-item d-flex align-items-center" href=" {% url 'workers:worker_list' %}"><i class="ti ti-user me-2"></i>Employee</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center" href="{% url 'managementSystem:register_client' %}"><i class="ti ti-users-plus me-2"></i>Client</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center" href="{% url 'managementSystem:create_order' %}"><i class="ti ti-progress-check me-2"></i>Purchase Order</a></li>
                                    </ul>
                                </div>
                                <span class="badge badge-md bg-soft-primary badge-time d-inline-flex align-items-center" id="clock">
                                <i class="ti ti-clock me-1"></i></span>
                            </div>

                            <div class="d-flex align-items-center">

                                <!-- Search -->
                                <div class="input-group input-group-flat d-inline-flex me-2">
                                    <span class="input-icon-addon">
                                    <i class="ti ti-search"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-text">
                                    <kbd class="bg-gray-100 px-2">CTRL + / </kbd>
                                    </span>
                                </div>
                                <!-- /Search -->

                                <!-- Flag -->
                                
                                <!-- /Flag -->

                                <div class="me-2 nav-item  dropdown theme-item">
                                    <a class="btn btn-menubar" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
                                        <i class="ti ti-sun-high"></i>
                                    </a>
                                    <ul class="dropdown-menu p-2">
                                        <li class="mb-1">
                                            <a href="javascript:void(0);" class="dropdown-item d-inline-flex align-items-center active theme-toggle" id="light-mode-toggle">
                                                <i class="ti ti-sun-high me-2"></i>Light
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item d-inline-flex align-items-center theme-toggle" id="dark-mode-toggle">
                                                <i class="ti ti-moon me-2"></i>Dark
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="me-2 notification_item">
                                    <a href="#" class="btn btn-menubar position-relative me-1" id="notification_popup" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                        <i class="ti ti-bell-check"></i>
                                        <span class="position-absolute badge bg-danger"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end notification-dropdown">
                                        <div class="topnav-dropdown-header pb-0">
                                            <h5 class="notification-title">Notifications</h5>
                                            <ul class="nav nav-tabs nav-tabs-bottom">
                                                <li class="nav-item"><a class="nav-link active" href="#active-notification" data-bs-toggle="tab">Active<span class="count ms-2">2</span></a></li>
                                                <li class="nav-item"><a class="nav-link" href="#unread-notification" data-bs-toggle="tab">Unread</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#archieve-notification" data-bs-toggle="tab">Archive</a></li>
                                            </ul>
                                        </div>
                                        <div class="noti-content">
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="active-notification">
                                                    <div class="notification-nodata">
                                                        <img src="assets/img/icons/notify-nodata.svg" alt="img">
                                                        <p class="fw-medium">No New Nofitications</p>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-02.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Jerry Manas</span> Added New Task Creating <span class="h6">Login Pages</span></a></p>
                                                                <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>4 Min Ago</span>
                                                            </div>
                                                        </div>
                                                        <span class="bg-danger badge p-0 d-inline-block badge-status"></span>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-05.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Robert Fox </span> Was Marked as Late Login <span class="text-danger">09:55 AM</span></a></p>
                                                                <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>5 Min Ago</span>
                                                            </div>
                                                        </div>
                                                        <span class="bg-danger badge p-0 d-inline-block badge-status"></span>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-04.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Jenny Wilson </span> Completed <span class="h6">Created New Component</span></a></p>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>15 Min Ago</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-02.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Jacob Johnson </span> Added Manual Time <span class="h6">2 Hrs</span></a></p>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>20 Min Ago</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-01.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Annete Black </span> Completed <span class="h6">Improved Workflow React</span></a></p>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>22 Min Ago</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="unread-notification">
                                                    <div class="notification-list">
                                                        <a href="notifications.html">
                                                            <div class="d-flex align-items-center">
                                                                <span class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-02.jpg" alt="Profile" class="rounded-circle">
                                                                </span>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-1"><span class="h6">Jerry Manas</span> Added New Task Creating <span class="h6">Login Pages</span></p>
                                                                    <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>4 Min Ago</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <span class="bg-danger badge p-0 d-inline-block badge-status"></span>
                                                    </div>
                                                    <div class="notification-list">
                                                        <a href="notifications.html">
                                                            <div class="d-flex align-items-center">
                                                                <span class="avatar avatar-lg me-2 flex-shrink-0">
                                                                    <img src="assets/img/profiles/avatar-05.jpg" alt="Profile" class="rounded-circle">
                                                                </span>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-1"><span class="h6">Robert Fox </span> Was Marked as Late Login <span class="text-danger">09:55 AM</span></p>
                                                                    <span class="fs-12 noti-time"><i class="ti ti-clock me-1"></i>5 Min Ago</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <span class="bg-danger badge p-0 d-inline-block badge-status"></span>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="archieve-notification">
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-04.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Jenny Wilson </span> Completed <span class="h6">Created New Component</span></a></p>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fs-12 noti-time pe-2 me-2 border-end"><i class="ti ti-clock me-1"></i>15 Min Ago</span>
                                                                    <a href="javascript:void(0);" class="link-primary fa-12 fw-medium">Restore</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-02.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Jacob Johnson </span> Added Manual Time <span class="h6">2 Hrs</span></a></p>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fs-12 noti-time pe-2 me-2 border-end"><i class="ti ti-clock me-1"></i>20 Min Ago</span>
                                                                    <a href="javascript:void(0);" class="link-primary fa-12 fw-medium">Restore</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="notification-list">
                                                        <div class="d-flex align-items-center">
                                                            <a href="notifications.html" class="avatar avatar-lg me-2 flex-shrink-0">
                                                                <img src="assets/img/profiles/avatar-01.jpg" alt="Profile" class="rounded-circle">
                                                            </a>
                                                            <div class="flex-grow-1">
                                                                <p class="mb-1"><a href="notifications.html"><span class="h6">Annete Black </span> Completed <span class="h6">Improved Workflow React</span></a></p>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fs-12 noti-time pe-2 me-2 border-end"><i class="ti ti-clock me-1"></i>22 Min Ago</span>
                                                                    <a href="javascript:void(0);" class="link-primary fa-12 fw-medium">Restore</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between topnav-dropdown-footer">
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="link-primary text-decoration-underline me-3">Mark all as Read</a>
                                                <a href="#" class="link-danger text-decoration-underline">Clear All</a>
                                            </div>
                                            <a href="notifications.html" class="btn btn-primary btn-sm d-inline-flex align-items-center">View All Notifications<i class="ti ti-chevron-right ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown profile-dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                        <span class="avatar avatar-md">
                                            <img src="{% static 'img/user.png' %}" alt="Img" class="img-fluid rounded-circle">
                                        </span>
                                    </a>
                                    <div class="dropdown-menu p-2">
                                        <div class="profileset d-flex align-items-center bg-dark p-3 mb-2">
                                            <span class="user-img me-2">
                                                <img src="{% static 'img/user.png' %}" alt="">
                                            </span>
                                            <div>
                                                <h6 class="text-white mb-1">{{ request.user.username }}</h6>
                                                <p class="fs-13 text-light">Manager</p>
                                            </div>
                                        </div>
                                        {% comment %} <div class="py-2 px-3">
                                            <h6 class="mb-2">Switch Account</h6>
                                            <a href="javascript:void(0)" class="btn btn-success btn-sm w-100">
                                                <i class="ti ti-switch-horizontal text-white me-1"></i>Swith to Manager
                                            </a>
                                        </div> {% endcomment %}
                                        <a class="dropdown-item logout d-flex align-items-center" href="{% url 'logout' %}">
                                            <i class="ti ti-logout me-2"></i>Signout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="dropdown mobile-user-menu profile-dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <span class="avatar avatar-md online">
                                <img src="assets/img/profiles/avatar-01.jpg" alt="Img" class="img-fluid rounded-circle">
                            </span>
                        </a>
                        <div class="dropdown-menu p-2 mt-0">
                            <a class="dropdown-item d-flex align-items-center" href="profile.html">
                                <i class="ti ti-user me-2"></i>Profile Settings
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="reports.html">
                                <i class="ti ti-file-text me-2"></i>Reports
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="profile-settings.html">
                                <i class="ti ti-settings-2 me-2"></i>Settings
                            </a>
                            <a class="dropdown-item logout d-flex align-items-center" href="login.html">
                                <i class="ti ti-logout me-2"></i>Signout
                            </a>
                        </div>
                    </div>
                    <!-- /Mobile Menu -->

                </div>
            </div>
            <!-- /Header -->

            <!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <!-- Logo -->
                <div class="sidebar-logo">
                    <a href="{% url 'dashboard' %}" class="logo logo-normal" style="width:110px; margin-top: -10px;">
                        <img src=" {% static 'img/nlogo.png' %}" alt="Logo">
                    </a>
                    <a href="{% url 'dashboard' %}" class="logo-small" style="width:110px; margin-top: -10px;">
                        <img src="{% static 'img/nlogo.png' %}" alt="Logo">
                    </a>
                    <a href="{% url 'dashboard' %}" class="dark-logo" style="width:110px; margin-top: -10px;">
                        <img src="{% static 'img/nlogo.png' %}" alt="Logo">
                    </a>
                </div>
                <!-- /Logo -->
                <div class="sidebar-header p-3 pb-0">
                    <div class="rounded bg-light p-2 mb-3 sidebar-profile d-flex align-items-center">
                        <div class="avatar online avatar-md onlin">
                            <img src=" {% static 'img/profiles/avatar-16.jpg' %}" alt="Img" class="img-fluid rounded-circle">
                        </div>
                        <div class="text-start sidebar-profile-info ms-2">
                            <h6 class="fs-12 fw-normal">{{ request.user.username }}</h6>
                            <p class="fs-10">System Admin</p>
                        </div>
                    </div>
                    <div class="me-auto d-flex align-items-center mb-3">
                        <div class="dropdown add-dropdown me-2">
                            <a href="#" class="btn btn-md border d-inline-flex align-items-center fs-12 px-2" data-bs-toggle="dropdown">
                                <i class="ti ti-plus me-1 text-gray-5"></i>Add New
                            </a>
                            <ul class="dropdown-menu dropdown-menu-start p-2">
                                <li><a class="dropdown-item d-flex align-items-center" href="employees.html"><i class="ti ti-user me-2"></i>Employee</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="teams.html"><i class="ti ti-users-plus me-2"></i>Team</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="projects.html"><i class="ti ti-progress-check me-2"></i>Projects</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="users.html"><i class="ti ti-users me-2"></i>Users</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="manual-time.html"><i class="ti ti-clock me-2"></i>Manual Time</a></li>
                            </ul>
                        </div>
                        <span class="btn btn-md btn-time px-2 d-inline-flex align-items-center fs-12 bg-primary-100 text-primary">
                            <i class="ti ti-clock me-1"></i><a href="{% url 'logout' %}">Logout</a>
                        </span>
                    </div>
                    <div class="input-group input-group-flat d-inline-flex me-2 mb-3">
                        <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-text">
                            <kbd class="bg-gray-100 px-2">CTRL + / </kbd>
                        </span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <!-- Flag -->
                        <div class="nav-item dropdown has-arrow flag-nav nav-item-box me-2">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
                                <img src="assets/img/flags/us.svg" alt="Language" class="img-fluid">
                            </a>
                            <ul class="dropdown-menu p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="assets/img/flags/us.svg" alt="" height="16">English
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="assets/img/flags/de.svg" alt="">German
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="assets/img/flags/fr.svg" alt="">French
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="assets/img/flags/ae.svg" alt="">Arabic
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Flag -->

                        <div class="me-2 notification_item">
                            <a href="notifications.html" class="btn btn-menubar position-relative me-1">
                                <i class="ti ti-bell-check"></i>
                            </a>
                        </div>
                        <div class="me-2">
                            <a href="profile-settings.html" class="btn btn-menubar">
                                <i class="ti ti-settings"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            <li class="menu-title"><span>Main</span></li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="{% url 'dashboard' %}" target="_self">
                                            <i class="ti ti-layout-grid-add"></i><span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'workers:worker_list' %}" target="_self">
                                            <i class="ti ti-users"></i><span>Workers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'managementSystem:register_client' %}" target="_self">
                                            <i class="ti ti-settings-2"></i><span>Clients</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'managementSystem:orders' %}" target="_self">
                                            <i class="ti ti-layout"></i><span>Purchase Order</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-title"><span>Analysis</span></li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="{% url 'managementSystem:reports_view' %}">
                                            <i class="ti ti-chart-infographic"></i><span>Report</span><span class="track-icon"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti ti-report-money"></i><span>Expense</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="sidebar-footer">
                            <p class="fs-13 copyright">Copyright 2025 - <a href="https://www.behance.net/macdevbiz" class="link-primary">Macdev</a></p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>



        <script>
            function updateClock() {
                const now = new Date();
                document.getElementById("clock").textContent =
                    now.toLocaleTimeString(); // shows HH:MM:SS
            }
            setInterval(updateClock, 1000); // update every second
            updateClock(); // run immediately
        </script>

    
    
    {% endblock %}

    {% block  content %}


    {% endblock  %}



 